@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');
*{
    text-decoration: none;
    margin:0;
    padding:0;
}

.navbar {
    width:85%;
    margin:auto;
    padding:45px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    display: inline-block;
    list-style:none;
    margin: 0 20px;

}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Raleway',sans-serif;

}



.big-image{
    width:100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(to bottom,rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://get.pxhere.com/photo/landscape-tree-nature-mountain-snow-winter-cloud-black-and-white-sky-photography-mountain-range-weather-alpine-monochrome-season-ridge-summit-austria-sunny-great-mountains-plateau-large-landform-monochrome-photography-geographical-feature-mountainous-landforms-geological-phenomenon-1249302.jpg);
  }




  
